#hero{
margin: 0;
justify-content: center;
align-content: center;
}
#lake{
    display: flex;
    justify-content: center;
    align-content: center;
}
#images img{
    height: 400px;
    justify-content: center;
    align-content: center;
    margin-left: 60px;
}
#destination{
    margin: 0;
    justify-content: center;
    align-content: center;
    display: flex;
    margin-top: 100px;
}
#tour{
    margin-top: 10px;
    color: gray;
    font-size: 25px;

}
#dest{
    margin: 0;
    color: black;
}
.circle{
    color: green;
    background-color: black;
    font-weight: 800;
    height: 56px;
    width: 56px;
    border-radius: 40px;
    padding: 12px;
    gap: 15px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    text-align: center;
    align-items: center;
    


}
#box{
    display: flex;
    justify-content: center;
    align-content: center;
    
}
#info{
    align-content: center;
    margin: 0;
   margin-left: 15px;
}
.small{
    color: grey;
    font-size: 18px;
    margin: 0;

}
#map img{ 
height: 780px;
border-radius: 30px;
margin-left: 50px;
}
#last{
    justify-content: center;
    align-content: center;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
}
#writing{
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
}
#packs{
    justify-content: center;
    align-content: center;
    display: flex;
    margin-top: 50px;
}
#word{
    color: grey;
    font-size: 30px;
    margin: 0;
    justify-content: center;
    display: flex;
    align-content: center;

}
#word2{
    font-size: 50px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.bx{
    background-color:ghostwhite;
    align-content: center;
    display: flex;
    justify-content: center;
   justify-content: space-around;
 flex-direction: column;
 margin: 10px;
 width: 300px;
 border-radius: 30px;
}
.price{
    justify-content: end;
    display: flex;
    margin-right: 20px;
}
#list{
 font-size: 20px;
 color: grey;
}
#right{
    margin-left: 200px;
}
.pac{
    margin-left: 30px;
}
#tond{
height: 393px;
background-color: #171717;
margin-top: 80px;
}
#to{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    color: white;
}
#button{
    min-height: 44px;
    background-color: #18BA51;
    border-color: transparent;
    border-radius: 4px;
    color: white;
    width: 110px;
 

}
#wrd{
    margin-top: 130px;
}
#l{
    background-color: #101010;
    height: 228px;
}
#one{
    display: flex;
    align-content: center;
    justify-content: center;
}
#two{
    margin-top: 80px;
}
#but{
    margin-left: 400px;
    height: 44px;
    border-radius: 4px;
    color: white;
    background-color: #303030;
    border-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  
}
#butt{
    margin-left: 30px;
    height: 44px;
    border-radius: 4px;
    color: white;
    background-color: #303030;
    border-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-evenly;

}
#lnk{
    height: 24px;
    background-color: white;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 50px;

    
}
#fr{
    font-size: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}
