#hero{
margin: 0;
justify-content: center;
align-content: center;
flex-direction: column;
gap: 20px;
}
#lake{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
#imges{
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
}
#images{
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
}
#images img{
    align-items: center;
    display: flex;
    gap: 20px;
    margin-top: 50px;
    height: 400px;
    justify-content: space-evenly;
}
#trip{
    font-size: 25px;
    font-weight: bold;
    unicode-bidi: isolate;
    color: #ababab;
    justify-content: center;
    align-items: center;
    display: flex;
}

@media only screen and (max-width: 900px) {
    #images{
        align-items: center;
        display: flex;
        gap: 20px;
        justify-content: center;
        margin-top: 50px;
        flex-wrap: wrap;
    }
    #images img{
        align-items: center;
        display: flex;
        gap: 20px;
        margin-top: 50px;
        height: 400px;
        justify-content: space-evenly;
        flex-direction: column;
    }
}


@media only screen and (max-width: 600px) {
    #images{
        align-items: center;
        display: flex;
        gap: 20px;
        justify-content: center;
        margin-top: 50px;
        flex-direction: column;
    }
    #images img{
        align-items: center;
        display: flex;
        gap: 20px;
        margin-top: 50px;
        height: 400px;
        justify-content: space-evenly;
    }
}


@media only screen and (max-width: 599px) {
    #images{
        align-items: center;
        display: flex;
        gap: 20px;
        justify-content: center;
        margin-top: 50px;
        flex-direction: column;
    }
    #images img{
        align-items: center;
        display: flex;
        gap: 20px;
        margin-top: 50px;
        height: 300px;
        justify-content: space-evenly;
    }
}
