#header{
    background-color: black;
    justify-content: center;
    align-content: center;
    display: flex;
    font-size: 20px;
    padding: 0 20px;
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}
#head{
    height: 80px;
    margin-top: 25px;
}